@font-face {
  font-family: "Gill Sans Std";
  src: url("fonts/GillSansStd-Light.eot?#iefix") format("embedded-opentype"),
    url("fonts/GillSansStd-Light.woff2") format("woff2"),
    url("fonts/GillSansStd-Light.woff") format("woff"),
    url("fonts/GillSansStd-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

html,
body {
  height: 100%;
  font-family: "Gill Sans Std";
}
.title {
  text-align: center;
  grid-area: Title;
  font-size: 18px;
  font-family: "League Spartan";
}
.questionDesc {
  text-align: center;
  font-size: 16px;
  list-style-position: inside;
}

.btnYes {
  text-align: center;
  font-family: "Gill Sans Std";
  font-size: 18px;
  color: white;
  white-space: normal;
  grid-area: CardL;
  background-color: #54075b;
  border-radius: 1em;
  /* aspect-ratio: 1/1; */
  height: auto;
  width: auto;
  /* max-height: 75%; */
  padding: 0.5em;
}
.btnYes:hover {
  background-color: #3a053f;
}
.btnNo {
  text-align: center;
  font-family: "Gill Sans Std";
  font-size: 18px;
  color: white;
  white-space: normal;
  grid-area: CardR;
  background-color: #54075b;
  border-radius: 1em;
  /* aspect-ratio: 1/1; */
  height: auto;
  width: auto;
  /* max-height: 75%; */
  padding: 0.5em;
}
.btnNo:hover {
  background-color: #3a053f;
}
.start {
  display: flex;
  border-radius: 1em;
  grid-column-start: 2;
  grid-row-start: 2;
  grid-column-end: 5;
  grid-row-end: 3;
  height: 100px;
  width: 100%;
  border-radius: 1em;
  justify-content: center;
  align-items: center;
}
.btnStart {
  font-weight: bold;
  font-family: "Gill Sans Std";
  color: white;
  font-size: 18px;
  border-radius: 1em;
  justify-content: center;
  align-self: center;
  height: 100%;
  width: 60%;
  margin: 0 auto;
  background-color: #c6359a;
}
.btnStart:hover {
  background-color: #aa2e85;
}
.restart {
  display: flex;
  grid-area: Restart;
  border-radius: 1em;
  grid-column-start: 2;
  grid-row-start: 3;
  grid-column-end: 5;
  grid-row-end: 4;
  height: 100px;
  width: 100%;
  border-radius: 1em;
  justify-content: center;
  align-items: center;
}
.resultCard {
  border-radius: 1em;
  color: white;
  background-color: #3a053f;
  grid-column-start: 2;
  grid-row-start: 2;
  grid-column-end: 5;
  height: fit-content;
  padding-bottom: 1em;
  /* grid-row-end: 3; */
  font-size: 18px;
  text-align: center;
}
.layout-main {
  display: grid;
  grid-gap: 1em;
  height: 100%;
  grid-template-rows: auto 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 0.5fr 0.2fr 0.5fr 1fr;
  grid-template-areas:
    "BorderL Title Title Title BorderR"
    "BorderL CardL Start CardR BorderR"
    "BorderL . Restart . BorderR"
    "BorderL Footer Footer Footer BorderR";
}

.title {
  font-family: "League Spartan";
  font-weight: 300;
  font-style: normal;
  font-weight: bold;
  font-size: 31.5px;
  margin-top: 1em;
}

.centredList {
  list-style-position: inside;
}

@media only screen and (max-width: 640px) {
  .layout-main {
    grid-template-columns: 0.2fr 0.5fr 0.2fr 0.5fr 0.2fr;
    grid-template-areas:
      "BorderL Title Title Title BorderR"
      "BorderL CardL CardL CardL BorderR"
      "BorderL CardR CardR CardR BorderR"
      "BorderL . Restart . BorderR"
      "BorderL Footer Footer Footer BorderR";
  }
}
@media only screen and (max-width: 1400px) {
  .layout-main {
    grid-template-columns: 0.5fr 0.5fr 0.2fr 0.5fr 0.5fr;
  }
}
